<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<h1>Grupp 5</h1>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<p>&copy;Eminenta Grupp 5</p>
	</footer>
	@RenderSection("scripts", false)
</body>
</html>