<!DOCTYPE html>
<html>
<head>
	<title>PayMe | @ViewBag.Title</title>
	<link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<h1>PayMe</h1>
		<a asp-controller="Split" asp-action="Index">
			<img src="#" alt="" />
		</a>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<p>&copy;Eminenta Grupp 5</p>
	</footer>
	@RenderSection("scripts", false)
</body>
</html>