<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PayMe | @ViewBag.Title</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
	<link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<h1 class="hidden">PayMe</h1>
		<a asp-controller="Split" asp-action="Index">
			<img src="~/img/logo_175-white.png" alt="" />
		</a>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		<p>&copy;Eminenta Grupp 5</p>
	</footer>
	@RenderSection("scripts", false)
</body>
</html>