@{ViewBag.Title = "Hem";}

<section class="startSection">
	<p class="startText">Dela på kostnaderna</p>
	<img class="startLogo" src="~/img/logo_150.png" />
	<p>Ett smart sätt att hålla koll på vem som är skyldig vem</p>
</section>