@model List<SplitDetailsVM>
@{ViewBag.Title = ViewBag.EventName;}

<h2>@ViewBag.EventName</h2>

<section>
    @foreach (var item in Model)
    {
        <div class="expenseBox">
			<a asp-controller="Split" asp-action="UpdateExpense" asp-route-id="">
				<i id="updateExpense" class="fa fa-pencil-square-o" aria-hidden="true"></i>
			</a>
			<a href="" id="deleteExpenseButton">
				<i id="deleteExpense" class="fa fa-trash" aria-hidden="true"></i>
			</a>
			<h3>@item.expenseInfo.ExpenseDescription</h3>
			<h4>Köpare</h4>
			<p>@item.expenseInfo.PurchaserFirstName</p>
			<h4>Deltagare</h4>
			<ul>
				@foreach (var payer in item.expenseInfo.payers)
				{
					<li>@payer.FirstName</li>
				}
			</ul>
        </div>
    }
</section>

@section addExpenseFooter {
    <footer>
        <div id="addExpenseFooter">
            <a asp-controller="Split" asp-action="Expense">
                <img id="plusSign" src="~/img/plus_75.png" />
            </a>
        </div>
    </footer>
}