@{ViewBag.Title = "Event";}
@model ListOfEventsVM[]

<a class="right" asp-controller="Split" asp-action="Event"><i class="fa fa-plus" aria-hidden="true"></i> Lägg till event</a>

<h2 class="eventHeading">Mina event</h2>
@if (Model.Count() == 0)
{
	<section class="no-events-section">
		<p>Ooops! Ser ut som att du inte har några öppna event.</p>
		<p class="listItem">Börja med att lägga till ett nytt äventyr genom att trycka på "Lägg till event" uppe till höger.</p>
		<p class="listItem">Senare kan du använda den stora plusknappen här nere för att lägga till utgifter som du betalat för.</p>
		<p>Inga fler sura miner över vem som betalat vad! Keep your friends and wallet happy, PayMe-teamet</p>
	</section>
}
else
{
	@foreach (ListOfEventsVM item in Model)
	{
		<a class="button" asp-controller="Split" asp-action="Overview" asp-route-id="@item.Id">@item.EventName</a>
	}
}
@section addExpenseFooter {
	<footer>
		<div id="addExpenseFooter">
			<a asp-controller="Split" asp-action="Expense">
				<img id="plusSign" src="~/img/plus_75.png" />
			</a>
		</div>
	</footer>
}