@{ViewBag.Title = "Event";}
@model SplitIndexVM[]

<a class="button" asp-controller="Split" asp-action="Event">Lägg till event</a>

<h2>Mina event</h2>
@foreach (SplitIndexVM item in Model)
{
	<a class="button" asp-controller="Split" asp-action="Overview" asp-route-id="@item.Id">@item.EventName</a>
}

@section addExpenseFooter {
	<footer>
		<div id="addExpenseFooter">
			<a asp-controller="Split" asp-action="Expense">
				<img id="plusSign" src="~/img/plus_75.png" />
			</a>
		</div>
	</footer>
}