@model SplitOverviewVM
@{ViewBag.Title = "Londonresa";}

<h2>Londonresa</h2>

<section class="status">
	<h3>Din status</h3>
	<div class="focus minus circle">-567 kr</div> @*//TODO om mindre än 0 => class="minus", annars class="plus" *@
</section>
<section class="status">
	<h3>Total kostnad</h3>
	<p class="focus">2387 kr</p>
	<p>varav du ska betala 598 kr</p>
</section>
<section>
	<p>Vilka överföringar behöver göras ...</p>
</section>
<a asp-controller="" asp-action="">Lägg till vänner</a>
<a asp-controller="" asp-action="">Sammanställning</a>

@section addExpenseFooter {
	<footer>
		<div id="addExpenseFooter">
			<a asp-controller="" asp-action="">
				<img id="plusSign" src="~/img/plus_75.png" />
			</a>
		</div>
	</footer>
}