@model ResetPasswordVM

<form asp-controller="Account" asp-action="ResetPassword">
    <input asp-for="Code" hidden id="alexRuta" />
    <label asp-for="Email"></label>
    <input asp-for="Email" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />

    <button type="submit">Jajemän!</button>

</form>

@section scripts {

    <script >document.getElementById("alexRuta").value = url.get.code</script>
}