/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/********************************************
§BASE
*********************************************/

body, html {
	height: 100%;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #191919;
}

header {
	background-color: #ffffff;
	padding: 1em;
}

main {
	min-height: 100%;
	margin-bottom: -4em;
	padding: 3%;
}

	main:after {
		content: "";
		display: block;
		height: 4em;
	}

footer {
	height: 4em;
	background-color: #191919;
	text-align: center;
	color: #F5F7DC;
}

	footer p {
		line-height: 4em;
	}

/* Element som enbart ska vara synliga för screen readers */
.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}




/*********
FORM
**********/

form {
	max-width: 500px;
	margin: 0 auto;
}

input {
	display: block;
	width: 96%;
	padding: 1em 2%;
	border: 1px solid #346E00;
	margin-bottom: 1em;
	font-size: 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

	input[type="submit"] {
		width: 100%;
		background-color: #351c38;
		font-weight: 700;
		color: #fff;
		border-color: #351c38;
	}

label {
	font-weight: 700;
	display: block;
	margin-bottom: .5em;
}




/*********
RUBRIKER
**********/

h1 {
	font-size: 3em;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

h2 {
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	margin: .5em 0;
}




/*********
TEXT
**********/

.field-validation-error {
	color: #cf0606;
	display: block;
	margin-bottom: 1em;
}
